*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.content{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.content-p{
 margin-top: 10px;
}

.skill-section{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 30px 0;
}

.explanation{
    margin-top: 10px;
}

.explanation h3{
    font-size: 24px;
    margin-bottom: 10px;
}

.explanation ul{
    line-height: 1.6;
}